{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.email, {"label": "Courriel "}) }}
        {{ form_row(registrationForm.pseudo, {"label": "Pseudonyme (de trois à trente caractères)"}) }}
        {{ form_row(registrationForm.password.first, {"label": "Mot de passe (au moins huit caractères)"}) }}
        {{ form_row(registrationForm.password.second, {"label": "Confirmation du mot de passe "}) }}

        <button class="">Enregistrement</button>

    {{ form_end(registrationForm) }}
{% endblock %}



