<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  {# Utilité ? #}

        <title>{% block title %}Agenda{% endblock %}</title>

        {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        <link rel="stylesheet" href="{{ asset("css/style2.css") }}">
        <link rel="stylesheet" href="{{ asset("css/style3.css") }}">
        <link rel="stylesheet" href="{{ asset("css/style4.css") }}">
        <link rel="stylesheet" href="{{ asset("css/style5.css") }}">
        {# <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/alex-brush" type="text/css"/> #}
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap" rel="stylesheet">

        {% endblock %}
    </head>
    <body id="bodybase">

        <section class="zone3">
            
                <header><h1 id="nomdusite2">Mon agenda</h1></header>

                <nav>
                    <div class="boite" id="creercompte">
                        <a class="a1" href=" {{ path ("inscription_part") }} " >Créer un compte</a>
                    </div>

                    {% if is_granted ("ROLE_ADMIN") %}
                        <div class="boite" id="administrateur">
                            <a class="a2" href="{{ path ("page_accueil") }}"><strong>A bientôt</strong></a> 
                        </div>
                    {% endif %}

                    {% if not app.user %}
                    <div class="boite" id="connexion">
                        <a class="a1" href=" {{ path ("connexion_part") }} " >Connexion</a>
                    </div>
                    {% else %}
                    <div class="boite" id="deconnexion">
                        <a class="a1" href=" {{ path ("deco_part") }} " >Déconnexion</a>
                    </div>
                    {% endif %}
                </nav>

                {% block body %}{% endblock %}
                {% block content %}{% endblock %}

                <footer id="footer2">Requêtes sur les utilisateurs</footer>
            
        </section>

        <section class="zone4">
            <h1 id="sentence2">L'antre du maître</h1>
        </section>
        
        {% block javascripts %}
            {# <script src="/js/mvtitre.js" ></script> #}
            {# <script src="/js/mouvement.js" ></script> #}
        {% endblock %}

    </body>
</html>








