{% extends 'base.html.twig' %}

{% block title %}ModifProfessionnel{% endblock %}

{% block body %}

    <section class="formulaire">
        <div class="titreform"><h1>Modification des informations</h1></div>

        <div class="saisieform">
        {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.siret, {"label": "Courriel "}) }}
            {{ form_row(registrationForm.email, {"label": "Prénom "}) }}
            {{ form_row(registrationForm.nom, {"label": "Nom "}) }}
            {{ form_row(registrationForm.adresse, {"label": "Adresse "}) }}
            {{ form_row(registrationForm.ville, {"label": "Ville "}) }}
            {{ form_row(registrationForm.codepostal, {"label": "Code postal "}) }}

            <button class="valider">Enregistrement</button>

        {{ form_end(registrationForm) }}
        </div>
    </section>

{% endblock %}



