{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

{% block navigation %}
{% endblock %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<section class="formulaire">
<form method="post">

    {# {% if app.user %}
        <div class="">Vous êtes connecté en tant que {{ app.user.pseudo }}, <a href="{{ path('app_logout') }}">Déconnexion</a></div>
    {% endif %} #}

    {% if error %}
        <div class="">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {# <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required> #}

    <div class="saisieform">
        <div class="idconnex">
            <label for="inputEmail" class="">Courriel </label>
            <input type="email" value="{{ last_username }}" name="email" class="" placeholder="Courriel" required autofocus>
        </div>
        <div class="idconnex">
            <label for="inputPassword" class="">Mot de passe </label>
            <input type="password" name="password"  class="" placeholder="Mot de passe" required>
        </div>

        <input type="hidden" name="_target_path" value="/account"/>


    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
    

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

        <div>
            <button type="submit" class="valider2">Connexion</button>
        </div>
    </div>

</form>
</section>

{% endblock %}
