<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  {# Utilité ? #}

        <title>{% block title %}Robots{% endblock %}</title>

        {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        <link rel="stylesheet" href="{{ asset("css/style2.css") }}">
        <link rel="stylesheet" href="{{ asset("css/style3.css") }}">
        <link rel="stylesheet" href="{{ asset("css/style4.css") }}">
        <link rel="stylesheet" href="{{ asset("css/style5.css") }}">
        {# <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/alex-brush" type="text/css"/> #}
        <link href="https://fonts.googleapis.com/css?family=Alex+Brush&display=swap" rel="stylesheet">

        {% endblock %}
    </head>
    <body id="bodybase">

        <section class="zone1">
            
                <header><h1 id="nomdusite">Location de robots</h1></header>

                <nav>
                    {% if not app.user %}
                    <div class="boite" id="creercompte">
                        <a class="a1" href=" {{ path ("app_register") }} " >Créer un compte pour particulier</a>
                    </div>
                    <div class="boite">
                        <a class="a1" href=" {{ path ("app_registerpro") }} " >Créer un compte pour entreprise</a>
                    </div>
                    {% else %}
                        {% if is_granted ("ROLE_PARTICULIER") %}
                        <div class="boite">
                            <a class="a1" href=" {{ path ("modifParticulier") }} " >Modifier profil</a>
                        </div>
                        {% endif %}
                        {% if is_granted ("ROLE_PROFESSIONNEL") %}
                        <div class="boite">
                            <a class="a1" href=" {{ path ("modifProfessionnel") }} " >Modifier profil</a>
                        </div>
                        {% endif %}
                    {% endif %}

                    {# {% if is_granted ("ROLE_ADMIN") %}
                        <div class="boite" id="administrateur">
                            <a class="a2" href="{{ path ("app_admin") }}"><strong>L'antre de l'être</strong></a>
                        </div>
                    {% endif %} #}

                    {% if not app.user %}
                    <div class="boite" id="connexion">
                        <a class="a1" href=" {{ path ("app_login") }} " >Connexion particulier</a>
                    </div>
                    <div class="boite">
                        <a class="a1" href=" {{ path ("app_loginpro") }} " >Connexion entreprise</a>
                    </div>
                    {% else %}
                        {% if is_granted ("ROLE_PARTICULIER") %}
                        <div class="boite" id="deconnexion">
                            <a class="a1" href=" {{ path ("part_logout") }} " >Déconnexion part</a>
                        </div>
                        {% endif %}
                        {% if is_granted ("ROLE_PROFESSIONNEL") %}
                        <div class="boite" id="deconnexion">
                            <a class="a1" href=" {{ path ("pro_logout") }} " >Déconnexion pro</a>
                        </div>
                        {% endif %}
                        {% if is_granted ("ROLE_ADMIN") %}
                        <div class="boite" id="deconnexion">
                            <a class="a1" href=" {{ path ("admin_logout") }} " >Déconnexion admin</a>
                        </div>
                        {% endif %}
                    {% endif %}
                </nav>

                {% block body %}{% endblock %}
                {% block content %}{% endblock %}
            
        </section>

        <section class="zone2">
            <h1 id="sentence">Pourquoi remettre au lendemain ce qu'on peut faire le surlendemain ?</h1>
            {# <footer>
                {% if app.user %}
                    {% for role in app.user.roles %}
                    <li> {{ role }} </li>
                    {% endfor %}
                    {% if is_granted ("ROLE_ADMIN") %}
                        <p>Bonjour monsieur l'administrateur</p>
                    {% endif %}
                {% endif %}
            </footer> #}
        </section>
        
        {% block javascripts %}
            {# <script src="/js/mvtitre.js" ></script> #}
            {# <script src="/js/mouvement.js" ></script> #}
        {% endblock %}

    </body>
</html>




