<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Robots{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        <link rel="stylesheet" href="{{ asset("css/style2.css") }}">
        <link rel="stylesheet" href="{{ asset("css/style3.css") }}">
        {# <link href="https://fonts.googleapis.com/css?family=Alex+Brush&display=swap" rel="stylesheet"> #}
        <link href="https://fonts.googleapis.com/css?family=Acme|Cinzel|Graduate|Press+Start+2P|Rye|Turret+Road&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>

        <section class="zone1">
            
                <header><h1 id="nomdusite">Allorobot, location de robots</h1></header>

                {% block navigation %}

                {# <nav>
                    {% if not app.user %}
                    <div class="boite" id="creercompte">
                        <a class="a1" href=" {{ path ("inscription_part") }} " >Créer un compte pour particulier</a>
                    </div>
                    <div class="boite">
                        <a class="a1" href=" {{ path ("inscription_pro") }} " >Créer un compte pour entreprise</a>
                    </div>
                    {% else %}
                        {% if is_granted ("ROLE_PARTICULIER") %}
                        <div class="boite">
                            <a class="a1" href=" {{ path ("modif_part") }} " >Modifier profil</a>
                        </div>
                        {% endif %}
                        {% if is_granted ("ROLE_PROFESSIONNEL") %}
                        <div class="boite">
                            <a class="a1" href=" {{ path ("modif_pro") }} " >Modifier profil</a>
                        </div>
                        {% endif %}
                    {% endif %}
                    <div class="boite">
                        <a class="a1" href=" {{ path ("page_accueil") }} " >Retour à l'accueil</a>
                    </div>
                    {% if not app.user %}
                    <div class="boite" id="connexion">
                        <a class="a1" href=" {{ path ("connexion_part") }} " >Connexion particulier</a>
                    </div>
                    <div class="boite">
                        <a class="a1" href=" {{ path ("connexion_pro") }} " >Connexion entreprise</a>
                    </div>
                    {% else %}
                        {% if is_granted ("ROLE_PARTICULIER") %}
                        <div class="boite" id="deconnexion">
                            <a class="a1" href=" {{ path ("deco_part") }} " >Déconnexion part</a>
                        </div>
                        {% endif %}
                        {% if is_granted ("ROLE_PROFESSIONNEL") %}
                        <div class="boite" id="deconnexion">
                            <a class="a1" href=" {{ path ("deco_pro") }} " >Déconnexion pro</a>
                        </div>
                        {% endif %}
                        {% if is_granted ("ROLE_ADMIN") %}
                        <div class="boite" id="deconnexion">
                            <a class="a1" href=" {{ path ("deco_admin") }} " >Déconnexion admin</a>
                        </div>
                        {% endif %}
                    {% endif %}
                </nav> #}

                {% endblock %}

                {% block body %}{% endblock %}
                {% block content %}{% endblock %}
            
        </section>

        {# <section class="zone2">
            <h1 id="sentence">Chez Allorobot, nous avons le robot qu'il vous faut.</h1>
            <footer id="footer2">
                {% if app.user %}
                    {% for role in app.user.roles %}
                    <p> Vous avez le rôle suivant:  {{ role }}.
                    {% endfor %}
                    {% if is_granted ("ROLE_ADMIN") %}
                        Bonjour monsieur l'administrateur.</p>
                    {% endif %}
                {% endif %}
            </footer>
        </section> #}
        
        {% block javascripts %}
            {# <script src="/js/mvtitre.js" ></script> #}
            {# <script src="/js/mouvement.js" ></script> #}
        {% endblock %}

    </body>
</html>




