{% extends 'base.html.twig' %}


{% block navigation %}
    <nav>
        <div class="boite">
            <a class="a1" href=" {{ path ("accueil_part") }} " >Pour les particuliers</a>
        </div>
        <div class="boite">
            <a class="a1" href=" {{ path ("accueil_pro") }} " >Pour les entreprises</a>
        </div>
        <div class="boite2">
            <a class="a1" href=" {{ path ("connexion_admin") }} " >Administration</a>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <footer id="footer1">
        {% if app.user %}
            {% if is_granted ("ROLE_ADMIN") %}
            <p>Vous êtes connecté en tant qu'administrateur</p>
            {% else %}
                {% if is_granted ("ROLE_PARTICULIER") %}
                    <p>Vous êtes connecté en tant que {{ app.user.prenom }} {{ app.user.nom }} </p>
                {% endif %}
                {% if is_granted ("ROLE_PROFESSIONNEL") %}
                    <p>Raison sociale : {{ app.user.nom }} </p>
                {% endif %}
            {% endif %}
        {% endif %}
    </footer>

{% endblock %}

{% block javascripts %}
    {# <script src="/js/essai.js"></script> #}
{% endblock %}



